<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="logs"/>

    <!-- ===================== ALL LOGS ===================== -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ===================== SUCCESS LOG ===================== -->
    <appender name="SUCCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/success.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/success-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} INFO %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ===================== ERROR LOG ===================== -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} ERROR %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ===================== LOGGERS ===================== -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="SUCCESS_LOG" level="INFO" additivity="false">
        <appender-ref ref="SUCCESS"/>
    </logger>

    <logger name="ERROR_LOG" level="ERROR" additivity="false">
        <appender-ref ref="ERROR"/>
    </logger>

</configuration>
